{% extends "base.html" %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% comment %} Load layour vars from app/tempaltetags/i18n_tags.py as layout {% endcomment %}
{% load i18n_tags %}
{% i18n_layout as layout %}

{% load crispy_forms_tags %}


{% block content %}
<h2 class="text-center text-xl font-semibold">{% block title %}{% trans "Deactivate Quiz (Questionnaire) FHIR Resource" %}{% endblock %}</h2>
<p>{% trans "Are you sure you want to deactivate the questionnaire FHIR resource of quiz with title: {{ questionnaire_title }}?." %}</p>

<form method="post">
  {% csrf_token %}ID
  {{ form|crispy }}
  <button type="submit" class="btn btn-danger">{% trans "Yes, deactivate" %}</button>
  <a href="{% url 'admin_view' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
</form>
{% endblock %}