{% extends "base.html" %}
{% load i18n static %}

{% get_current_language as LANGUAGE_CODE %}
{% comment %} Load layour vars from app/tempaltetags/i18n_tags.py as layout {% endcomment %}
{% load i18n_tags %}
{% i18n_layout as layout %}

{% block title %}
{{_("Dashboard") }}
{% endblock %}


{% block content %}

<!-- Professional / Client Panel -->
<div class="flex justify-center p-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 bg-white p-6 rounded-lg shadow-md w-full max-w-4xl">
      <!-- Skincare Professional -->
      <div class="flex items-center space-x-4">
        <img src="{{ professional.photo.0.url }}" alt="{{ _('Skincare Professional') }}: {{ professional.name.0.prefix.0 }} {{ professional.name.0.given.0 }} {{ professional.name.0.family }}" class="w-20 h-20 rounded-full object-cover me-2" />
        <div>
          <h2 class="text-xl font-bold">
            {{ professional.name.0.prefix.0 }} {{ professional.name.0.given.0 }} {{ professional.name.0.family }}
          </h2>
          <p class="text-gray-600">
            {{ professional.address.0.text }} - {{ professional.address.0.city }}
          </p>
        </div>
      </div>
  
      <!-- User Info -->
      <div class="flex items-center space-x-4 {% if LANGUAGE_CODE == 'ar' %} md:space-x-reverse {% endif %}" justify-end {{ layout.text_align_cls }}">
        <div>
          <h2 class="text-xl font-bold">
            {{ client.name.0.prefix.0 }} {{ client.name.0.given.0 }} {{ client.name.0.family }}
          </h2>
        </div>
        <img src="{{ client.photo.0.url }}" alt="{{ _('Client') }}: {{ client.name.0.prefix.0 }} {{ client.name.0.given.0 }} {{ client.name.0.family }}" class="w-20 h-20 rounded-full object-cover" />
      </div>
    </div>
</div>

<!-- Clients data table -->
<div class="w-full bg-white shadow-md rounded-lg max-w-6xl mx-auto m-8 p-8" dir="{{ layout.dir }}">
    <h1 class="text-3xl text-center font-bold mb-6">{{ _("Skincare Chart") }}</h1>

    <div class="h-96 border border-gray-300 flex items-center justify-center">
        <div class="relative w-full h-96">
            <canvas id="skinProfileChart"></canvas>
        </div>
    </div>
    
</div>


<!-- Use this to pass data to js script. json_script is important against attacks -->
{{ care_chart_js_data|json_script:"care-chart-js-data" }} 


<script src="{% static 'js/care_chart.js' %}"></script>

{% endblock %}