{% extends "base.html" %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% comment %} Load layour vars from app/tempaltetags/i18n_tags.py as layout {% endcomment %}
{% load i18n_tags %}
{% i18n_layout as layout %}

{% load crispy_forms_tags %}


{% block content %}
  <h2 class="text-center text-xl font-semibold">{% block title %}{% trans "Edit Client Information" %}{% endblock %}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-warning">{% trans "Update" %}</button>
  </form>
  <a href="{% url 'admin_view' %}" class="btn btn-secondary mt-3">{% trans "Cancel" %}</a>
{% endblock %}